<!-- Content section Start -->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                <div class="page-login-form box">
                    <h3>
                        Quên mật khẩu
                    </h3>
                    <form role="form" class="login-form" method="post" id="signup-form" action="/forgotPwd-submit" name="registration">  
                        <div class="form-group">
                            <div class="input-icon">
                                <i class="icon fa fa-envelope"></i>
                                <input type="text" id="email" class="form-control" name="email" placeholder="Email Address">
                            </div>
                        </div>
                        <button class="btn btn-common log-btn" type="submit">Đăng ký</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section End -->
