<!-- Header Section Start -->

<!-- Start intro section -->
<section id="intro" class="section-intro">
    <div class="overlay">
        <div class="container">
            <div class="main-text">
                <h1 class="intro-title">Welcome To <span style="color: #3498DB">UIT Jobs Search</span></h1>
                <p class="sub-title">Chúng tôi cung cấp dịch vụ tìm việc từ nhiều website khác nhau và đăng việc làm miễn phí</p>
                <div class="col-md-6">
                    <p class="sub-title">Hãy cài đặt plugin để trải nghiệm công cụ tìm kiếm nhanh và hiệu quả (yêu cầu trình duyệt chrome/firefox)</p>
                    <a class="btn btn-success btn-firefox" href="#" style=" display:none;"><span class="fa fa-puzzle-piece"></span>  Cài đặt Add-on</a>
                    <a class="btn btn-success btn-chrome" href="/searchKL.crx" style="display:none;"><span class="fa fa-puzzle-piece"></span>  Cài đặt Extension</a>  
                    <p class="nosupp" style="color:red; display:none;" >Hiện tại plugin chỉ hỗ trợ cho firefox và chrome !</p>                
                </div>
                <div class="col-md-6">
                    <p class="sub-title">Hãy đăng tải công việc tại đây, để nhiều ứng viên tiềm năng có thể tìm đến bạn</p>
                <a class="btn btn-danger" href="/post-job"><span class="fa fa-plus-circle"></span>  Đăng việc làm</a>
                </div>
                &nbsp;
             </div>
        </div>
    </div>
</section>
<!-- end intro section -->


<script>
    function getBrowser() {
        if (navigator.userAgent.indexOf("Chrome") != -1) {
            return "Chrome";
        } else if (navigator.userAgent.indexOf("Firefox") != -1) {
            return "Firefox";
        } else {
            return "unknown";
        }
    }
    $(function () {
        switch (getBrowser()) {
            case "Chrome":
                $(".btn-chrome").show();
                break;
            case "Firefox":
                $(".btn-firefox").show();
                break;
            default:
                $(".nosupp").show();
                break;
        }
    });
   
</script>