<!-- Content section Start --> 
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
           <div class="inner-box posting">
              <div class="alert alert-success alert-lg" role="alert">
              <h2 class="postin-title">✔ Congratulations! Your ad will be available soon.</h2>
              <p>Chúc mừng bạn đã đăng thành công !</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Content section End --> 