<!-- Content section Start -->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-9 col-md-offset-2">
                <div class="page-ads box">
                    <h2 class="title-2">
                        post a job free
                    </h2>
                    <form class="form-ad" method="post" action="/post-job-submit" enctype="multipart/form-data">
                        <input type="hidden" name="userId" value="{{session.userId}}" />
                        <div class="form-group">
                            <label class="control-label">Category</label>

                            <select name="category" id="category-group" class="form-control">
                                {{#each cats as |item|}}
                                <option value="{{item}}">{{item}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Job title</label>
                            <input name="title" placeholder="Java Developer" class="form-control input-md" type="text">
                            <span class="help-block">A great title needs at least 60 characters. </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="textarea">Job description</label>
                            <textarea class="form-control" id="textarea" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Location</label>
                            <input name="location" placeholder="TP. Hồ Chí Minh" class="form-control input-md"  type="text">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="salary">Salary</label>
                            <p><span style="color:blue">*Website sẽ hiển thị đúng những gì bạn nhập</span></p>
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input  type="text" name="salary" class="form-control " placeholder="5 triệu - 10 triệu">                                    </div>
                                </div>
                              
                                </div>
                            </div>
                                <div class="form-group">
                                    <label class="control-label" for="expireDate">Expire Date</label>
                                    <div class="form-inline">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <input name="expireDate" class="form-control input-md"  type="date">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h2 class="title-2">
                                    Picture attachment
                                </h2>
                                <div class="form-group">
                                    <label class="control-label">Choose picture</label>

                                </div>
                                <img class="img-responsive" id="update-img" src="/assets/img/default.jpg" alt="img" width="300" height="200" />
                                <input type="file" name="photo" id="input-photo" />
                                <div class="form-group">
                                    <div class="well">
                                        <button type="submit" class="btn btn-common">Submit</button>
                                    </div>
                                </div>
</form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Content section End --> 
<script>
   function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#update-img').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

   $("#input-photo").change(function () {
        readURL(this);
   });

   //$(document).ready(function () {
   //    $("#salaryInput").click(function () {
   //        if (document.getElementById("salaryInput").checked) {
   //            $(".numSal").attr('disabled',true);  // checked
   //            $(".txtSal").attr('disabled', false);
   //        }
   //        else {
   //            $(".txtSal").attr('disabled',true);  // unchecked
   //            $(".numSal").attr('disabled', false);
   //        }
   //    });
   //});
  
</script>