{{!< admin}}
<!-- BEGIN PAGE -->
<div class="page-content">
    <div class="container-fluid">
        <!-- BEGIN PAGE HEADER-->
        <div class="row-fluid">
            <div class="span12">
                <!-- BEGIN PAGE TITLE & BREADCRUMB-->
                <h3 class="page-title">
                   Quản lý công việc
                </h3>
                <ul class="breadcrumb">
                    <li>
                        <i class="icon-home"></i>
                        <a href="/admin/user-management">User management</a>
                        <i class="icon-angle-right"></i>
                    </li>
                    <li><a href="#">Cập nhật công việc </a></li>
                </ul>
                <!-- END PAGE TITLE & BREADCRUMB-->
            </div>
        </div>
        <!-- END PAGE HEADER-->
        <div class="tab-pane" id="tab_4">
            <div class="portlet box blue">
                <div class="portlet-title">
                </div>
                <div class="portlet-body form">
                    <!-- BEGIN FORM-->
                    <form action="/admin/insert-user" method="post" class="form-horizontal form-row-seperated">
                        <div class="control-group">
                            <label class="control-label">Your name</label>
                            <div class="controls">
                                <input type="text" name="name" value=" placeholder="Nguyễn Văn A" class="m-wrap span12" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Email</label>
                            <div class="controls">
                                <input type="text" name="email" placeholder="email@gmail.com" class="m-wrap span12" />
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Phone</label>
                            <div class="controls">
                                <input type="text" name="phone" class="m-wrap span12" placeholder="091xxxxxxx">
                            </div>
                        </div>
                        <div class="control-group last">
                            <label class="control-label">Status</label>
                            <div class="controls">
                                <select class="m-wrap span12" name="status">
                                    <option value="Active" selected> Active</option>
                                    <option value="Banned"> Banned</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn blue"><i class="icon-ok"></i> Cập nhật</button>
                            <button type="reset" class="btn">Hủy</button>
                        </div>
                    </form>
                    <!-- END FORM-->
                </div>
            </div>
        </div>
    </div>
</div>