<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheet/style.css" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" href="assets/css/bootstrap.min.css" type="text/css">-->
    <!-- Material CSS -->
    <link rel="stylesheet" href="/assets/css/material-kit.css" type="text/css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
    <!-- Main Styles -->
    <link rel="stylesheet" href="/assets/css/main.css" type="text/css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/assets/extras/animate.css" type="text/css">
    <!-- Responsive CSS Styles -->
    <link rel="stylesheet" href="/assets/css/responsive.css" type="text/css">
    <!-- Bootstrap Select -->
    <link rel="stylesheet" href="/assets/css/bootstrap-select.min.css">
    
</head>
<body>
    {{{body}}}
    <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/assets/js/wow.js"></script>
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script type="text/javascript" src="/assets/js/form-validator.min.js"></script>
    <script src="assets/js/bootstrap-select.min.js"></script>
    <script src="/js/jquery-3.1.1.min.js"></script>
</body>
</html>
